@import '../../variables.css';

.menu-wrapper {
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color: var(--main-color);
    color: var(--main-color--text);
    padding: 1rem;
}
.menu-wrapper::after {
    content: '';
    margin-right: 100px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 70px;
}

.menu-wrapper span {
    margin-right: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.menu-wrapper select {
    background: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 10px;
    width: clamp(4rem, 20vw, 150px);
}

.menu-wrapper input {
    margin-right: 1rem;
    width: clamp(10rem, 40vw, 20rem);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    padding: 8px;
    transition: .3s;
}

.menu-wrapper input:focus {
    border-color: var(--detail-color-secondary);
    box-shadow: var(--box-shadow);
}