@import '../../variables.css';

.header {
    width: 100%;
    height: 5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h3 {
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: 400;
    color: var(--main-color--text);
    letter-spacing: .1rem;
}

.header span {
    color: var(--detail-color);
}
